.firstName {
    margin: 15px;
  }
  .lastName {
    margin: 15px;
  }
  .firstAddress {
    margin: 15px;
  }
  .secondAddress {
    margin: 15px;
  }
  .city {
    margin: 15px;
  }
  .State {
    margin: 15px;
  }
  .zipcode {
    margin: 15px;
  }
.form-wrapper button {
  margin: 15 px;
}